# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Cho-Hyunmin
name: ci-ghcr

on:
  workflow_call:
    inputs:
      BUILD_COMMAND:
        type: string
        required: false
        default: ./gradlew clean test publish --no-daemon

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - name: Publish
        env:
          GPR_USER: ${{ github.actor }}
          GPR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUILD_COMMAND: ${{ inputs.BUILD_COMMAND }}
        run: ${BUILD_COMMAND}
