# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Cho-Hyunmin
name: dispatch ci

on:
  push:
  workflow_dispatch:

jobs:
  dispatch:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/ci-mvn-orchestrator.yml
    secrets: inherit
