# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Cho-Hyunmin
name: dispatch ci

on:
  push:
  workflow_dispatch:

jobs:
  dispatch:
    permissions:
      contents: read
      packages: write
    uses: cho-hm/ci-mvn/.github/workflows/ci-mvn-orchestrator.yml@v1
    secrets: inherit
